@import "theme";
@import "spacing";
@import "flex";

*, *::before, *::after {
    box-sizing: border-box;
}

p, div {
    line-height: 1em;
}

body {
    background-color: var(--body-background);
    color: var(--dark);
    font-family: var(--font);
}

a {
    color: var(--main);
    text-decoration: none;

    &:hover {
        filter: brightness(0.9);
    }
}






