@import "theme";
@import "spacing";
@import "flex";
@import "text";

*, *::before, *::after {
    box-sizing: border-box;
}

p, div {
    line-height: 1em;
}

body {
    background-color: var(--body-background);
    color: var(--dark);
    font-family: var(--font);
    margin: 0;
}

a {
    color: var(--main);
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
        filter: brightness(0.9);
    }

    &.active {
        border-bottom: 1px solid var(--main);
    }
}






