@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
@import "./variables";

:root {
    --font: #{$font};
    --font-size: #{$font};
    --bg: #{$bg};
    --body-bg: #{$body-bg};
    --main-text-color: #{$main-text-color};
    --primary: #{$primary};
    --primary-50: #{color.adjust($primary, $alpha: -0.7)};
    --secondary: #{$secondary};
    --danger: #{$danger};
    --info: #{$info};
    --warning: #{$warning};
    --success: #{$success};
    --dark: #{$dark};
    --light: #{$light};
    --muted: #{$muted};
    --disabled-bg: #{$disabled-bg};
    --disabled-text-color: #{$disabled-text-color};
    --border-radius: #{$border-radius};
    --btn-border-radius: 2.25em;
    --shadow-0: #{$shadow-0};
    --shadow-1: #{$shadow-1};
    --shadow-raised: #{$shadow-raised};
    --form-element-height: 2.5rem;
}

.dark {
    $dark-bg: #50565e;
    --primary: #{color.adjust($primary, $lightness: 25%)};
    --danger: #{color.adjust($danger, $lightness: 55%)};
    --body-bg: #{$dark-bg};
    --bg: #{color.adjust($dark-bg, $lightness: 3%)};
    --light: #666;
    --muted: #9fa8af;
    --main-text-color: #{$bg};
}
